<h2>Available drones</h2>

<div>
{{#each listDrones}}

<h3>Name: {{name}}</h3>
<p>Propellers: {{propellers}}</p>
<p>Max Speed: {{maxSpeed}}</p>
<a href="/drones/{{_id}}/edit"><button>Editar</button></a>

{{/each}}

</div>